/*шапка сайта*/

.w-15{
    width: 15%;
}

.card .table td{
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn-add{
    top: 100%;
    left: 50%;
    transform: translate(-100%, -50%);
}

button.btn__progress {
	font-size: 25px;
	width: 200px;
	float: right;
	border: 1px solid #6777ef;
	padding: 15px 15px;
	margin-right: 23px;
	text-decoration: none;
	color: #6777ef;
	text-align: center;
}

button.btn__progress:hover {
	background: #6777ef;
	color: white;
	text-decoration: none;
}